
body{
  background: #141618;
  color: white;
}

.information h1{
  font-weight: bold;
}

.information span{
  font-weight: 300;
}

.information_data{
  display: flex;
  justify-content: space-evenly;
}

.personaje{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  background: #53575A;
  text-align: left;
}

.personaje li{
 
  font-size: 30px;
  font-weight: bolder;
}

 li::marker{
  margin: 0;
}

.personaje h1,h2{
  margin: 5px;
}

.personaje span{
  
  font-size: 20px;
}

.personaje_information{
  margin: 0 10px;
}

.personajeList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
