
body{
  background: #141618;
  color: white;
}

.information h1{
  font-weight: bold;
}

.information span{
  font-weight: 300;
}

.information_data{
  display: flex;
  justify-content: space-evenly;
}

.personaje{
  display: flex;
  justify-content: space-evenly;
}

.personajeList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
